* {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.banner {
  height: 30vw;
  align-items: center;
  margin: 0;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px 7px #000000;
}

.banner h1 {
  font-family: nexa-light;
  color: white;
  font-weight: 10;
  text-transform: uppercase;
  text-align: left;
  z-index: 1;
  font-size: 7vw;

  position: relative;
}
.banner h1 span {
  font-weight: 900;
}
.slider {
  position: absolute;
  width: 100%;
  height: 30vw;
  display: block;
  background: #1f1f1f;
  overflow: hidden;
}
.slider > * {
  height: 30vw;
  position: absolute;
  animation: slide 12s infinite;
  overflow: hidden;
  display: block;
  background: #1f1f1f;
}
.slide1 {
  animation-delay: -1s;
  background-image: url("img/trumna1.png");
  background-size: cover;
  background-position: center;
}
.slide2 {
  animation-delay: 2s;
  background-image: url("img/trumna2.png");
  background-size: cover;
  background-position: center;
}
.slide3 {
  animation-delay: 5s;
  background-image: url("img/trumna3.png");
  background-size: cover;
  background-position: center;
}
.slide4 {
  animation-delay: 8s;
  background-image: url("img/trumna4.png");
  background-size: cover;
  background-position: center;
}
.slider img {
  height: 30vw;
  margin-left: 19vw;
}
@keyframes slide {
  0% {
    left: 100%;
    width: 100%;
  }
  5% {
    left: 0%;
  }
  25% {
    left: 0%;
  }
  30% {
    left: -100%;
    width: 100%;
  }
  30.0001% {
    left: -100%;
    width: 0%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}

.logo {
  position: absolute;
  top: 3vw;
  left: 3vw;
  z-index: 2;
  font-size: 2vw;
  font-family: nokkok;
  color: white;
}
hr {
  position: absolute;
  z-index: 2;
  margin-left: 12.3vw;
  margin-top: 3.3vw;
  width: 0.5;
  height: 1.8vw;
  color: white;
}

.logo2 {
  position: absolute;
  z-index: 2;
  font-family: nexa-light;
  float: left;
  top: 3.2vw;
  left: 13vw;
  color: white;
  font-size: 0.9vw;
  font-weight: 400;
}
.content {
  width: 100vw;
  height: 100vw;
  animation: animacja 12s infinite;
}

@keyframes animacja {
  0% {
    background-color: blue;
  }
  25% {
    background-color: gold;
  }
  50% {
    background-color: red;
  }
  75% {
    background-color: green;
  }
  100% {
    background-color: white;
  }
}

@font-face {
  font-family: nexa-light;
  src: url(font/nexa-light.otf);
}
@font-face {
  font-family: nokkok;
  src: url(font/nokkok.ttf);
}

/*TABLET SCREENS*/

@media screen and (min-width: 600px) and (max-width: 1099px) {
  .banner h1 {
    font-family: nexa-light;
    color: white;
    font-weight: 100;
    text-transform: uppercase;
    text-align: left;
    z-index: 1;
    font-size: 7.5vw;

    position: relative;
  }
}

/*MOBILE SCREENS*/

@media screen and (max-width: 599px) {
  .banner h1 {
    font-family: nexa-light;
    color: white;
    font-weight: 100;
    text-transform: uppercase;
    text-align: left;
    z-index: 1;
    font-size: 8vw;

    position: relative;
  }
  .logo {
    position: absolute;
    top: 2.5vw;
    left: 3vw;
    z-index: 2;
    font-size: 2.5vw;
    font-family: nokkok;
    color: white;
  }
  hr {
    position: absolute;
    z-index: 2;
    margin-left: 14.3vw;
    margin-top: 3.1vw;
    width: 0.5;
    height: 1.8vw;
    color: white;
  }
  .logo2 {
    position: absolute;
    z-index: 2;
    font-family: nexa-light;
    float: left;
    top: 2.9vw;
    left: 15.7vw;
    color: white;
    font-size: 1.2vw;
    font-weight: 400;
  }
}
